
.scrollable {
    background: url("/media/img/gradient/h300.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 573px;
}
.scrollable .items {
    clear: both;
    position: absolute;
    width: 20000em;
}
.items div {
    float: left;
    width: 680px;
}
.scrollable img {
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    float: left;
    height: 75px;
    margin: 20px 7.7px 21px;
    width: 100px;
}
.scrollable .active {
    cursor: default;
    position: relative;
}
