/* CSS Document */
table {
	font-size:11px;
}
th {
		color:#333333;
		font-size:11px;
		text-transform:uppercase;
		text-align:center;
		padding:0.55em;
		border-width:1px;
		border-style:solid;
		border-color:#ddca9e;
		border-collapse:collapse;
		background-color:#ddca9e;
		font-weight:bold;
}